#mainContainer {
  width: 70vw;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#timeDial {
  width: 100%;
}

body {
  font-family: "Pacifico", cursive;
}

#temp {
  font-size: 8rem;
  /* line-height: 8rem; */
}
