#mainContainer {
  width: 70vw;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#timeDial {
  width: 100%;
}

body {
  font-family: "Pacifico", cursive;
  font-size: 20px;
}

#weather {
  font-size: 5rem;
  /* line-height: 8rem; */
}

.fa-location-arrow {
  transform: rotate(-45deg);
}

h1 {
  font-size: 7rem !important;
}
