#mainContainer {
  width: 90vw;
}

#timeDial {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Pacifico", cursive;
  font-size: 18px;
}

#weather {
  font-size: 4rem;
  /* line-height: 8rem; */
}

.fa-location-arrow {
  transform: rotate(-45deg);
}

h1 {
  font-size: 6rem !important;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 5rem !important;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 4rem !important;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 3rem !important;
  }
}

#sunCard {
  height: 88%;
}

#svgDial {
  height: 40vh;
}

#cityInput {
  max-width: auto;
  margin-bottom: 2rem;
} 

.inp {
  max-width: auto;
}

#cityName {
  letter-spacing: 0.6rem;
  text-transform: capitalize;
}